---
const { text } = Astro.props
---

<button class="cursor-pointer text-white font-bold relative text-[14px] w-[9em] h-[3em] text-center bg-gradient-to-r from-yellow-700 from-10% via-sky-500 via-30% to-purple-800 to-90% bg-[length:400%] rounded-[30px] z-10 hover:animate-gradient-xy hover:bg-[length:100%] before:content-[''] before:absolute before:-top-[5px] before:-bottom-[5px] before:-left-[5px] before:-right-[5px] before:bg-gradient-to-r before:from-yellow-700 before:from-10% before:via-sky-500 before:via-30% before:to-purple-800 before:bg-[length:400%] before:-z-10 before:rounded-[35px] before:hover:blur-xl will-change-transform before:transition-all before:ease-in-out before:duration-[1s] before:hover:bg-[length:10%] active:bg-purple-800 focus:ring-purple-800 m-5" type="submit"
>
    {text}
</button>