---
const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

const isLoggedIn = accessToken && refreshToken;
---
<aside class="w-[10%]" >
    <nav>
        <ul>
            <li>
                <a href="/">Menu principal</a>
            </li>
            {isLoggedIn ? (
                <li>
                    <a href="/dashboard">Mi cuenta</a>
                </li>
            ) : (
                <>
                    <li>
                        <a href="/signin">Iniciar sesion</a>
                    </li>
                    <li>
                        <a href="/register">Registrarse</a>
                    </li>
                </>
            )}
        </ul>
    </nav>
</aside>
